*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    --background-color: #18152d;
    --white-color: #e2e8f0;
    --grey-color: #8391a4;
    --deep-grey-color: #2d3239;
    --green-color: #5eead4;
}
body{
    display: flex;
    justify-content: center;
    background: var(--background-color);
    color: var(--white-color);
    overflow: hidden;
    overflow-y: scroll;
    max-width: 100vw;
    overflow-x: hidden;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

/* Navbar */
.navbar{
    height: 3rem;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
    background: var(--background-color);
}
.navbar-menu-item{
    font-weight: bold;
    margin: 1.5rem;
    cursor: pointer;
    color: var(--white-color);
}
.navbar-menu-item:hover{
    color: var(--grey-color);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--grey-color);;
}
.navbar-menu-item:active{
    color:var(--grey-color);
}

@media screen and (max-width:720px){
    .navbar{
        display: none;
    }
}
@media screen and (min-width:720px){
    .burger-menu{
        display: none;
    }
}

/* burger menu */
@media screen and (min-width:720px){
    .burger-menu{
        display: none;
    }
}
.burger-menu-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: var(--grey-color);
    color: var(--white-color);
    transition: all .4s ease-in-out;
}
.show-links .burger-menu-links{
    right: 0;
    width: 100vw;
    visibility: visible;
}
.burger-menu-link{
    display: block;
    padding: 1.5rem;
    font-size: 7vw;
    color: inherit;
}
.burger-menu-item::after{
    content:"";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: var(--white-color);
}
.burger-menu-item:last-child::after{
    display: none;
}
.burger-button{
    display: flex;
    position: fixed;
    top:2rem;
    right: 1rem;
    margin: 20px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
}
.burger-button:hover{
    cursor: pointer;
}
.burger-bar,
.burger-bar::before,
.burger-bar::after{
    display: block;
    width: 40px;
    height: 5px;
    position: relative;
    border-radius: 3px;
    background: var(--grey-color);
    transition: all .3s ease-in-out;
}
.burger-bar::before,
.burger-bar::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.burger-bar::before{
    transform: translateY(-14px);
}
.burger-bar::after{
    transform: translateY(14px);
}
.burger-bar{
    transform: translateY(-14px);
}
.show-links .burger-bar{
    background: transparent;
}
.show-links .burger-bar::before{
    transform: rotate(45deg);
    background: var(--white-color);
}
.show-links .burger-bar::after{
    transform: rotate(-45deg);
    background: var(--white-color);
}

/* Home */
.home{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 0px;
    font-weight: 700;
}
.home-name{
    font-size: 2.5rem;
    color: var(--white-color);
}
.home-dev{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home-para{
    font-size: 1rem;
    font-weight: 300;
    color: var(--grey-color);
    margin-bottom: 1.5rem;
}
.menu-btn{
    background: var(--deep-grey-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    color: var(--green-color);
    cursor: pointer;
    width: 12rem;
    transition: all 0.3s ease-in-out;
}
.menu-btn:hover{
    background: var(--grey-color);
    color: var(--green-color)
}
.menu-btn:hover .message-icon{
    color: var(--white-color);
}
.message-icon{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
    color: var(--green-color);
}
.message-icon-text{
    padding-left: 0.5rem;
}
.portrait{
    height: 35vh;
}

@media screen and (max-width:720px){
    .home{
        flex-direction: column;
        padding-top: 60px;
    }
    .home-content{
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }
    .home-hello{
        align-self: self-start;
    }
    .home-intro-text{
        align-self: start;
    }
    .home-intro-para{
        align-self: start;
    }
    .home-portrait{
        align-self: center;
    }
}

/* Skills */
.skills{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 5rem;
}
.skills-intro{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 1rem;
    padding: 1.5rem 2rem 0rem 2rem;
    border-radius: 0.5rem;
    background: var(--background-color);
}

.skills-title{
    font-size: 2.5rem;;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skill-description{
    font-weight: 400;
    font-size: 1rem;
    color:var(--grey-color)
}
.skills-text{
    font-size: 0.9rem;
    font-weight: 200;
    visibility: hidden;
}

.skills-bloc{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: var(--deep-grey-color);
    gap: 1rem;
}
.skills-bloc-text p{
    font-size: 0.9rem;
    font-weight: 200;
    color:var(--grey-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.skills-icons{
    display: flex;
    justify-content: center;
}

.skills-icons ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-icons ul li {
    list-style: none;
}
.skill-icon{
    margin-right: 1rem;
    height: auto;
    max-width: 100%;
}
